:root {
    --accent-colour: rgb(255, 0, 0);
    --darkened-accent: rgb(181, 0, 0);
    --border: rgb(182, 182, 182);
}

@font-face {
  font-family: 'PublicSans';
  src: url('./assets/fonts/PublicSans-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
p {
  margin: 0;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header:has(.header) {
    background-color: rgb(65, 65, 65);
    display: flex;
    padding: 0;
    font-family: 'PublicSans';
    position: sticky;
    top: 0;
    color: white;
}
.mainContent {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-grow: 1;
    flex-wrap: wrap;
}
.mainGaps {
    padding: 0.5rem 1rem;
    gap: 1rem;
}
.notFound {
    /* margin-top: 134px; */
    flex-direction: row;
    align-items: center;
    flex-grow: 0;
    justify-content: center;
}
footer {
    background-color: rgb(228, 228, 228);
    padding: 1rem;
}
.standing {
    display: flex;
    flex-direction: column;
    min-width: 400px;
    gap: 1rem;
}
.F404Image {
    width: 400px;
    height: auto;
}
.behaveImage {
    max-width: 100%;
}
main {
    font-family: 'PublicSans';
    display: flex;
    flex-direction: column;
    flex-grow: 1;
} /* i love flex */
.header {
    align-items: stretch;
    display: inline-flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}
.presentation {
    /* justify-content: center; */
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.default {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.5rem 1rem;
    gap: 1rem;
}
.blog {
    border-left: 1px var(--border) solid;
    width: 900px;
    max-width: 100%;
    border-right: 1px var(--border) solid;
    /* height: 100%; */
    flex: 1;
}
@media screen and (max-width: 900px) {
    .blog {
        border: none;
    }
}
.header nav {
    /* gap: 1rem; */
    /* width: max-content; */
    /* display: inline-flex; */
    display: flex;
}
.header .title {
    align-items: center;
    display: flex;
    padding-left: 1rem
}
.nav-link {
    color: white;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    padding: 1rem;
    text-decoration: none;
}
footer {
    font-family: 'PublicSans';
}
.nav-link:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.048);
}
.nav-link:hover {
    background-color: var(--darkened-accent);
}
.nav-link.nav-active {
    color: var(--accent-colour);
    background-color: rgb(255, 255, 255);
}
.nav-link.nav-active:hover {
    background-color: rgb(255, 255, 255);
}
#root {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
body {
    margin: 0;
    padding: 0;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}