:root {
    --accent-colour: rgb(255, 0, 0);
    --darkened-accent: rgb(181, 0, 0);
    --darkened-accent-darker: rgb(132, 0, 0);
    --border: rgb(182, 182, 182);
    --hover-thing: rgb(255, 255, 255, 0.2);
    --nav-item-padding-y: 0.5rem;
    --nav-item-padding-x: 0.5rem;
    --how-thick-is-the-line: 1px;
    --secondary: rgb(65, 65, 65);
		--light: rgb(150, 150, 150);
    --ghost: rgb(200, 200, 200);
    --odd: rgba(255, 255, 255, 0.048);
    --text-color: black;
    --accent-gradient-select: linear-gradient(to bottom, var(--darkened-accent-darker) 0%, var(--darkened-accent) 20%, var(--darkened-accent) 100%);
		--input-colour: rgb(226, 226, 226);
}
.highlight {
	background-image: linear-gradient(to top, rgb(200, 200, 230) 0%, rgb(170, 170, 200) 100%);
	padding: 2px 6px;
	font-weight: bold;
}
td {
	text-align: left;
	vertical-align: top;
}
table.blog td {
	/* padding: 0rem; */
	border: none;
}
.left-column {
	padding: 0.5rem;
	padding-right: 0rem;
}
.headbox {
	display: block;
}
.headbox a {
	padding: 2px;
	text-decoration: none;
	color: black;
	display: block;
}
.headbox {
	border: 1px rgb(200, 200, 230) solid;
}
.headbox a {
	border: 1px transparent solid;
	padding: 2px 6px;
	font-size: 11px;
	display: flex;
	align-items: center;
	text-wrap: nowrap;
}
.headbox a img {
	height: 21px;
	width: 31px;
	object-fit: contain;
}
.headbox a:hover {
	border: 1px black solid;
	border-radius: 2px;
	background-image: linear-gradient(to top, rgb(200, 200, 230) 0%, rgb(230, 230, 255) 100%);
}
.headbox ul {
	list-style-type: none;
}
.header-w {
	font-size: 11px;
	/* background-image: linear-gradient(to top, rgb(200, 200, 230) 0%, rgb(170, 170, 200) 100%); */
	background-color: lightgrey;
	color: purple;
	padding: 2px 6px;
	font-weight: bold;
}
.hidden {
	display: none;
}
.rah > * {
	rotate: 180deg;
}
.mini-column {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.tiny-gappy {
	gap: 0.25rem;
}
.flexy {
	display: flex;
}
.email-button {
	/* padding: 0.5rem 1rem; */
	background-color: var(--background-color);
	border: none;
	font-family: "Verdana";
	color: var(--text-color);
	padding: .25rem .5rem;
	cursor: pointer;
	outline: 1px var(--text-color) solid;
}
.important-information {
	user-select: none;
	webkit-user-select: none;
	font-size: 0.001rem;
	color: red;
}
.the-box {
    border: 1px var(--text-color) solid;
    padding: 1rem;
}
.status-text {
    color: green;
		display: flex;
		align-items: flex-end;
		white-space: pre-wrap;
		flex-wrap: wrap;
		gap: 0.25rem 0rem;
}
.status-text > .username {
		border: 1px var(--input-colour) solid;
		padding: 0.1rem 0.25rem;
}
.error-status {
    color: red;
}
.big-pizza {
    width: 150px;
    height: auto;
}
.pizza-input {
	max-width: 10rem;
}
.mobile-view {
    display: none !important;
}
.desktop-view {
    display: inherit !important; /* !important specifity bs */
}
@media screen and (max-width: 600px) {
    :root {
        --nav-item-padding-y: 1rem;
        --nav-item-padding-x: 1rem;
        --how-thick-is-the-line: 3px;
    }
    .mobile-view {
        display: inherit !important;
    }
    .desktop-view {
        display: none !important;
    }
}
body.dark_mode {
    --text-color: white;
    --background-color: black;
    color: white; /* fallback */
    background-color: black;
}
.pointy-cursor {
	cursor: pointer;
}
.dark_mode a {
    color: rgb(0, 119, 255);
}
table {
    border-collapse: collapse;
}
td {
    border: 1px solid var(--text-color);
    padding: 0.2rem;
}
.double-column {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(280px, 100%), 1fr));
    /* grid-template-columns: 1fr 1fr; */
    /* gap: 1.5rem; */
    /* max-width: calc(400px * 2 + 0rem); 0rem: is equivalent to gap property */
}
.half {
    width: 100%;
}
@font-face {
  font-family: 'PublicSans';
  src: url('./assets/fonts/PublicSans-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Consoleet';
  src: url('./assets/fonts/consoleet_uefi.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
p {
  margin: 0;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header:has(.header) {
    background-color: var(--secondary);
    display: flex;
    padding: 0;
    border-top: 1px solid var(--ghost);
    /* overflow-y: visible; */
    /* overflow-x: hidden; */
    font-family: 'Verdana';
    position: sticky;
    z-index: 6767;
    top: 0;
    color: white;
}
.mainContent {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-grow: 1;
    flex-wrap: wrap;
}
.mainGaps {
    padding: 0.5rem 1rem;
    gap: 1rem;
}
.notFound {
    /* margin-top: 134px; */
    flex-direction: row;
    align-items: center;
    flex-grow: 0;
    justify-content: center;
}
footer {
    background-color: rgb(228, 228, 228);
    padding: 1rem;
}
.total-cavity-prevention-today {
    font-size: 0rem;
}
.maincontentstuff td {
	border: none;
}
.standing {
    display: flex;
    flex-direction: column;
    min-width: 400px;
    gap: 1rem;
}
.F404Image {
    width: 400px;
    height: auto;
}
.behaveImage {
    max-width: 100%;
}
.manie {
	width: 100%;
}
body {
    font-family: 'Verdana';
    display: flex;
    flex-direction: column;
    flex-grow: 1;
} /* i love flex */
.header {
    align-items: stretch;
    display: inline-flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}
.theform {
    border: 1px var(--text-color) solid;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    padding: 0.5rem 1rem;
}
.top-4 {
    padding-top: 4rem;
}
.gappy {
	gap: 1rem;
	display: flex;
}
.gapper {
	gap: 1rem;
	flex-direction: row;
}
.space-between {
	justify-content: space-between;
}
.boogie {
	display: flex;
	gap: 1rem;
	flex-wrap: wrap;
}
.showMail {
    /* padding: 0.5rem 1rem; */
    cursor: pointer;
    font: inherit;
    color: blue;
    background: none;
    border: none;
    text-decoration: underline;
    /* background-color: red; */
}
.red {
    color: red;
}
code.youvegotmail {
    display: flex;
    justify-content: space-between;
}
code {
    background-color: var(--input-colour);
    color: black;
    padding: 0.25rem 0.25rem;
    align-items: center;
    display: flex;
    gap: 0.25rem;
}
.clipboardCopy {
    /* aspect-ratio: 1; */
    border: none;
    cursor: pointer;
    background-color: black;
    border-radius: 4px;
    color: white;
    width: 24px;
    height: 24px;
    transition: 2s background-color ease-in-out;
}
.clipboardCopy.green {
    background-color: rgb(37, 176, 74);
}
.manie {
	width: 100%;
}
table.maincontentstuff {
	width: 100%;
}
h1 {
	font-weight: normal;
	width: 100%;
	text-align: center;
}
.presentation {
    /* justify-content: center; */
    /* align-items: center; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.default {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 0.5rem 1rem;
    gap: 1rem;
}
.no-side-padding {
				padding-left: 0;
				padding-right: 0;
}
.gap {
				gap: 1rem;
				padding: 0.5rem 1rem;
}
.row {
    flex-direction: row;
		align-items: center;
		flex-wrap: wrap;
}
.broadcast {
	gap: 1rem;
	border: 1px var(--text-color) solid;
	flex-wrap: nowrap;
	align-items: flex-start;
}
.broadcast p {
	white-space: nowrap;
}
hr {
				align-self: stretch;
				height: 1px;
				background-color: var(--border);
				border: none;
}
.banner {
				background-color: black;
				padding: 0.5rem 1rem;
				color: white;
				white-space: nowrap;
				overflow-x: clip;
}
.middle {
    align-items: center;
}
.end {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.centered {
    align-items: center;
    display: flex;
    justify-content: center;
}
.blog {
    border-left: 1px var(--border) solid;
    width: 900px;
    max-width: 100%;
    border-right: 1px var(--border) solid;
    /* height: 100%; */
    flex: 1;
}
@media screen and (max-width: 900px) {
    .blog {
        border: none;
    }
}
.drop-menu {
    /* background-color: var(--secondary); */
    background-color: white;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10000;
    display: flex;
    border-left: 1px solid var(--ghost);
    border-right: 1px solid var(--ghost);
    border-bottom: 1px solid var(--ghost);
    flex-direction: column;
}
.drop-menu .nav-link {
    color: red;
}
/* .drop-menu .nav-link:hover {
    color: red;
} */
.drop-menu-toggle {
    /* background-color: rgb(143, 143, 143); */
    /* background-color: rgb(0, 0, 0); */
    padding: 0.5rem 1rem;
    font: inherit;
    color: white;
    cursor: pointer;
    border: none;
    /* margin-left: 1rem; */
    /* height: 24px; */
}
.drop-menu-toggle:hover {
    color: rgb(255, 255, 255);
    /* background: var(--accent-gradient-select); */
    /* filter: blur(1px); */
    /* background-color: rgb(143, 143, 143); */
}
button.drop-menu-toggle.open, button.drop-menu-toggle:hover.open {
    background: white;
    border-left: 1px solid var(--ghost);
    border-right: 1px solid var(--ghost);
    color: var(--accent-colour);
}
.drop-menu .nav-link.nav-item:hover {
    background-color: var(--ghost);
}
.drop-menu .nav-link.nav-active {
    color: var(--accent-colour);
}
.header nav {
    /* gap: 1rem; */
    /* width: max-content; */
    /* display: inline-flex; */
    /* overflow-y: visible; */
    /* overflow-x: clip; */
    align-items: stretch;
    /* flex-wrap: wrap; */
    white-space: nowrap;
    display: flex;
    /* flex-grow: 1; */
}
.mini td {
	width: fit-content;
}
.greyble th {
	background-image: linear-gradient(to top, rgb(255, 255, 255) 0%, rgb(200, 200, 200) 100%);
}
.greyble td {
	background-color: rgb(240, 240, 240);
}
.greyble td, .greyble th {
	padding: 2px 6px;
	border: 1px rgb(170, 170, 170) solid;
}
.justify-right {
    justify-content: right;
}
.header .title {
    align-items: center;
    display: flex;
    padding-left: 1rem
}
.doggy {
    position: relative;
    display: inline-block;
    /* contain: inline-size; */
    /* flex-grow: 1; */
}
.nav-item {
    gap: 0.25rem;
    padding: var(--nav-item-padding-y) var(--nav-item-padding-x);
    display: flex;
    white-space: nowrap;
    /* min-width: 200px; */
    align-items: center;
    /* flex-grow: 1; */
    /* justify-content: center; */
}
.nav-link {
    /* color: white; */
    color: var(--ghost);
}
.dark_mode .nav-link {
    color: var(--ghost);
}
.tooltip {
    background-color: rgb(203, 203, 203);
    color: black;
    padding: 0.25rem;
    font-size: 0.618rem;
    font-family: 'Verdana';
    border-radius: 4px;
}
.nav-link:not(.redirect:hover) {
    text-decoration: none;
}
footer {
    font-family: 'Verdana';
}
.nav-link:nth-child(odd) {
    background-color: var(--odd);
}
.nav-link:not(.nav-active):hover {
    /* background-color: var(--darkened-accent); */
    /* filter: brightness(250%); */
    background-color: var(--hover-thing);
    /* background: var(--accent-gradient-select); */
}
.dogger {
    display: flex;
    align-items: center;
    padding: 0rem 0.5rem;
}
.progressBar {
    background-color: var(--secondary);
    border-bottom: 2px rgb(27, 27, 27) solid;
    display: flex;
    justify-content: space-between;
    height: 24px;
    width: 100%;    
    position: relative;
}
.os-container {
    background-color: var(--secondary);
}
.modal-header {
    user-select: none;
    font-weight: bold;
    -webkit-user-select: none;
}
.modal-buttons {
    justify-content: right;
    display: flex;
    gap: 1rem;
}
.modal-button {
    padding: 0.25rem 1rem;
    /* cursor: pointer; */
    background-color: white;
    /* font-size: 1rem; */
    border: 1px rgb(180, 180, 180) solid;
    border: none;
    box-shadow: 
    0 0 0 1px rgba(0, 0, 0, 0.05),
    0 2px 4px -1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    font-family: 'Verdana';
}
.modal-button:active {
    background-color: rgb(219, 219, 219);
}
.red-book * {
    color: red;
    background-color: darkred;
}
.geen-book * {
    color: green;
    background-color: darkgreen;
}
.modal {
    position: absolute;
    min-width: 200px;
    max-width: 400px;
    padding: 1rem;
    box-shadow: 0 2px 20px 5px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    border-top: 1px white solid;
    outline: 1px rgb(192, 192, 192) solid;
    display: flex;
    font-family: 'Verdana';
    flex-direction: column;
    color: black;
    user-select: none;
    -webkit-user-select: none;
    background-color: rgb(232, 232, 232);
}
.modal-body {
    padding: 0.5rem 0rem;
    display: flex;
    flex-direction: column;
}
.os-option {
    width: 100%;
    padding: 0.5rem 1rem;
    text-align: center;
    cursor: default;
    border: none;
    cursor: pointer;
    /* background: linear-gradient(to bottom, rgb(221, 221, 221) 0%, rgb(255, 255, 255) 100%); */
    background: none;
    font-family: 'Verdana';
    color: white;
    display: flex;
}
.os-option:nth-child(odd) {
    background-color: var(--odd);
}
.os-option:hover {
    /* font-weight: bold; */
    background: var(--accent-gradient-select);
}
.yearsLeft {
    color: white;
}
.group {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.gap {
    gap: 1rem;
}
.progressBar > .progressIns {
    background-color: var(--accent-colour);
    border-bottom: 2px var(--darkened-accent) solid;
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding: 0rem 0.5rem;
		flex-shrink: 0;
    background-image: linear-gradient(
        -45deg,
        rgba(255, 255, 255, 0.2) 25%,
        rgba(0, 0, 0, 0) 25%,
        rgba(0, 0, 0, 0) 50%,
        rgba(255, 255, 255, 0.2) 50%,
        rgba(255, 255, 255, 0.2) 75%,
        rgba(0, 0, 0, 0) 75%,
        rgba(0, 0, 0, 0)
    );
    background-size: 16px 16px; 
    height: 24px;
    animation: move-stripes 2s linear infinite;
}
.turned-off {
    background-color: black;
}
html.turned-off body {
    overflow: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: none;
}
@keyframes move-stripes {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 16px 0; 
  }
}
.icon-skill {
    width: auto;
    /* height: 24px; */
    height: 24px;
}
.no-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
}
.full-size {
    width: 100%;
}
.at {
    color: var(--accent-colour);
    height: 0.7rem;
    margin-left: -1px;
    margin-right: -1px;
}
.period {
    color: var(--accent-colour);
    height: 3px;
    margin-top: 6px;
    margin-bottom: 1px;
    margin-left: -5px;
    margin-right: -4px;
}
.icon-skill-big {
    width: auto;
    /* height: 48px; */
    height: 48px;
}
.skill-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}
.inside li {
    list-style-position: inside;
}
.nav-link.nav-active {
    /* color: var(--accent-colour); */
    box-sizing: border-box;
    border-top: var(--how-thick-is-the-line) var(--accent-colour) solid;
    padding-top: calc(var(--nav-item-padding-y) - var(--how-thick-is-the-line));
    color: white;
    /* font-weight: bold; */
    /* background-color: rgb(255, 255, 255); */
    cursor: default;
}
.drop-menu .nav-link.nav-active {
    padding-left: calc(var(--nav-item-padding-x) - var(--how-thick-is-the-line));
    border-left: var(--how-thick-is-the-line) var(--accent-colour) solid;
    padding-top: var(--nav-item-padding-y);
    border-top: none;
}
/* .nav-link.nav-active:hover { */
    /* background-color: rgb(255, 255, 255); */
/* } */
#root {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
table.mini {
	table-layout: fixed;
}
body {
	font-size: 13px;
    margin: 0;
    padding: 0;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}
.invisible {
    display: none !important;
}
.inline-tags {
	display: flex;
	gap: 0.5rem;
	flex-wrap: wrap;
}
.blog-card {
	border: 1px var(--text-color) solid;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	max-width: 400px;
}
.mini-text {
	text-transform: uppercase;
	color: var(--light);
	font-size: 0.67rem;
}
.inline-tags a {
	/* background: black; */
	border: 1px var(--ghost) solid;
	padding: 0.25rem;
	border-radius: 4px;
}
.ghost {
	color: var(--ghost);
}
.light {
	color: var(--light);
}
.blogs-list {
	display: flex;
	gap: 1rem;
	flex-wrap: wrap;
}
blockquote {
	border-left: 2px var(--ghost) solid;
	padding: 4px;
	border-radius: 4px;
	padding-left: 1rem;
	color: var(--ghost);
}
select {
	border: none;
	background-color: var(--input-colour);
	padding: 0.25rem;
	cursor: pointer;
}
input {
	border: none;
	padding: 0.25rem;
	border: 1px solid var(--input-colour);
}
.rabbit_that_takes_up_everything_and_is_only_for_filler_and_serves_no_other_purpose {
	width: 100%;
	height: auto;
	font-size: clamp(1.5rem, 35vw, 2000rem);
	justify-content: center;
	text-align: center;
	filter: grayscale(100%) brightness(50%);
	margin-top: 50dvh;
}
body.dark_mode input {
	border: 1px solid var(--text-color);
	background-color: var(--background-color);
	color: var(--text-color);
}
